---
layout: default
---
<article class="dashboard">
  {% assign target_posts = site.posts | where: "type", page.title %}
  {% assign target_posts_size = target_posts | size %}

  {% if target_posts_size == 0 %}
    {%- include empty.html -%}
  {% else %}
    {%- if page.title -%}
      <h1 class="page-heading default-p-margin">{{ page.title }}</h1>
    {%- endif -%}

    <div class="dashboard-wrapper default-p-margin">
      <div class="dashboard-card-wrapper">
        {% for post in target_posts %}
            <div class="dashboard-card dashboard-card-shadow">
              <div class="card-title-wrapper">
                <div class="card-title">
                  <a class="remove-anchor" href="{{ post.url }}">{{ post.title }}</a>
                </div>
                <div class="card-date">{{ post.date | date: "%b %d %Y" }}</div>
              </div>
              <div class="card-category-wrapper">
                {% for category in post.categories %}
                  <div class="card-category">
                    <div class="{{ category }}">{{ category }}</div>
                  </div>
                {% endfor %}
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</article>
