@import "utility";

/**
 * Site header
 */
.site-header {
  background-color: $bright-blue;
  
  min-height: $spacing-unit * 2;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  @extend .remove-anchor;
  font-weight: bold;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
}



.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 10px;
  margin-top: 10px;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-list {
    list-style: none;
    float: left;
    font-weight: 500;

    padding-right: 20px;
    padding-left: 20px;
    margin-right: -10px;
    margin-left: -10px;
  }

  .page-list-active {
    @extend .page-list;
    background-color: $dark-blue;
    border-radius: 10px;

    font-weight: 800;
  }

  .page-list-text {
    @extend .remove-anchor;
    color: $text-color;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1);
  margin-bottom: 0%;
  text-align: center;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * About
 */
 .about-wrapper {
    margin-top: $spacing-unit
 }

 .about-wrapper:after {
   content: "";
   display: table;
   clear: both;
 }

 .about-column-picture {
   float: left;
   width: 30%;
 }

.about-column-description {
   float: left;
   padding-left: $spacing-unit * 1.5;
}

 .about-name {
  font-weight: 1000;
  font-size: $very-big-font-size;
 }

 .about-slogan {
  font-size: $base-font-size;
  font-style: italic;
 }

.about-section-title {
  font-weight: 800;
  font-size: $big-font-size;
  margin-bottom: $spacing-unit * 0.3;
}

.about-section-contents {
  font-size: $base-font-size;
}


/**
 * Dashboard
 */
 .dashboard-card {
  position: relative;
  min-height: 130px;
  height: 150px;
  background: #fcfcfc;
  margin: 20px 0px;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.dashboard-card-shadow:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
}

.dashboard-card-shadow:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  z-index: -2;
  box-sizing: border-box;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

.card-title {
  font-size: $big-font-size;
  font-weight: $base-font-weight * 2;
}

.card-date {
  color: gray;
  margin-bottom: $spacing-unit * 0.5;
}

.card-category {
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-date {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-top: $spacing-unit * 0.5;
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit;
  border-bottom: 1px solid $grey-color-light;
}

.post-title {
  @include relative-font-size(2.75);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.5);
  }
}

.post-sub-info {
  width: 100%;
  height: $base-font-size * 5;
}

.post-sub-info-image {
  width: 70px;
  float: left;
  height: $base-font-size * 4;
}

.post-sub-info-text {
  float: left;
  height: $base-font-size * 4;
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    @include relative-font-size(2.5);

    @include media-query($on-laptop) {
      @include relative-font-size(2);
    }
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
